In [ ]:
# Base Python
a = "2.5"
print(float(a))  # 2.5
b
# Pandas DataFrame column
import pandas as pd
df = pd.DataFrame({'price': ["2.5", "3.2", "1.1"]})
df['price'] = df['price'].astype(float)

# NumPy array
import numpy as np
arr = np.array(["2.5", "3.2"])
arr = arr.astype(float)

2.5

To fliter the rows based on condition

In [2]:
df.query('price > 3.00') # Count how many products crossed $10.00

   price
1    3.2

In [5]:
df[df['price'] > 3.00]

   price
1    3.2

In [7]:
#count of unique count
df['price'].nunique()  # Count unique item names

3